<!DOCTYPE html>
<html>
<head>
	<title>Edit Trip Page</title>
</head>
<body>
	<h1>Edit Your Trip!</h1>
	<form method="POST" action="/trips/tripHomePage">
		Destination
		<input type="text" name="destination" value="<%=trip.place%>"><br>	
		Departure
		<input type="date" name="departure" value="<%=trip.startDate%>"><br>	
		Return
		<input type="date" name="Return" value="<%=trip.endDate%>">	<br>
		Description
		<input type="text" name="description" value="<%=trip.description%>">	

		<br>
		<input type="hidden" name="">
		<input type="submit" name="" value="submit changes">
	</form>
	<form method='POST' action='/trips/<%=trip._id%>?_method=DELETE'>
		<button type='submit'>Delete</button>
	</form>
</body>
</html>