<!DOCTYPE html>
<html>
<head>
	<title>Create Trip Page</title>
	<link rel="stylesheet" type="text/css" href="/css/createTrip.css">
</head>
<body>
	<a href="/users/homePage">Home</a>
	<!-- <a href="/users/new">Register</a> -->
	<a href="/users/logout">Logout</a>

	<header>
		<!-- this should be the name of the trip that the user entered -->
		<h1><%=savedTrip.destination%></h1> 

		<h4><%=savedTrip.startDate%>  <%=savedTrip.endDate%></h4>

		<h4><%=savedTrip.description%></h4>
		<br>
		<a href="/trips/<%=savedTrip._id%>/tripEdit">Edit this trip</a>


	</header>

	<div class="wrapper">
		
<section class="columns">

	<div class="members">
		<h2>Members</h2>

	</div>
	<div>
		<div class="column">
			<h6>TO DO</h6>
			<!-- we need to loop through all of the items that were chosen from the to do list and display them here -->	
			<ul>
				<% for (let i = 0; i < savedTrip.itemsToPlan.length; i++) { -%>
					<li><%=savedTrip.itemsToPlan[i].description%></li>

					

				<% } -%>
			</ul>

		</div>
	
		<div class="column">
			<h6>ITENERARY</h6>			
			<!-- we need to loop through all of the items that were chosen from the itenerary list and display them here -->
			<ul>
				<% for (let i = 0; i < savedTrip.plannedItems.length; i++) { -%>
					<li><%=savedTrip.plannedItems[i].description%></li>


				<% } -%>
			</ul>
		</div>
  
  		<div class="column">
			<h6>WISH LIST</h6>			
			<!-- we need to loop through all of the items that were chosen from the wish list and display them here -->
			<ul>
				<% for (let i = 0; i < savedTrip.suggestedItems.length; i++) { -%>
					<li><%=savedTrip.suggestedItems[i].description%></li>


				<% } -%>
			</ul>
		</div>	

		<a href="/trips/createList">Add Item</a>
	</div>
	
</section>

</body>
</html>













